*{
    padding: 0px;
    margin: 0px;
}

body {
    padding: 50px;
    background-color: brown;
    margin: 8px;
    color: blanchedalmond;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}

nav{
    padding: 20px;
}

ul{
    list-style-type: none;
    background-color: black;
    padding: 5px;
    font-size: 20px;
    text-align: right;
}
li{
    display: inline-block;
    padding: 5px;
}
main {
    padding: 20px;
}
